 <!-- Start Footer Area -->
 <footer class="footer-area bg-color">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <a href="index-6.html" class="logo">
                        <img src="../../assets/frontent_files/img/logo.png" style="width: 200px;" alt="logo">
                    </a>
                    <p>Creating a better future for human beings using human friendly trusted AI solutions.</p>
                    <ul class="social-link">
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget pl-5">
                    <h3>Explore</h3>
                    <ul class="footer-links-list">
                    <li><a href="/">Home</a></li>
                        <li><a href="/about-us">About</a></li>
                        <li><a href="/services">Case Studies</a></li>
                        <li><a href="/blogs">Our Blog</a></li>
                        <li><a href="/contact-us">Contact</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Resources</h3>
                    <ul class="footer-links-list">
                        <li><a href="/about-us">Our Scientists</a></li>
                        <li><a href="/services">Our Services</a></li>
                        <li><a href="">Testimonials</a></li>
                        <li><a href="#">SaaS Solutions</a></li>
                        <li><a href="#">eCommerce</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Address</h3>
                    <ul class="footer-contact-info">
                        <li><i class='bx bx-map'></i>Infinite Epochs Labs Pvt. Ltd <br> KeyOn Plus, Jubilee Hills, Hyderabad</li>
                        <li><i class='bx bx-phone-call'></i><a href="tel:+919437641661">+91 943 764 1661</a></li>
                        <li><i class='bx bx-envelope'></i><a href="mailto:info@infiniteepoch.com">info@ie-labs.com</a></li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-bottom-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <!-- <p><i class='bx bx-copyright'></i>2020 <strong>Tracer</strong> is Proudly Powered by <a target="_blank" href="https://envytheme.com/">EnvyTheme</a></p> -->
                </div>

                <div class="col-lg-6 col-md-6">
                    <ul>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-map"><img src="../../assets/frontent_files/img/footer-map.png" alt="image"></div>
</footer>
<!-- End Footer Area -->