
<!-- Start Subscribe Area -->
<section class="project-start-area bg-color ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="subscribe-image">
                    <img src="../../assets/frontent_files/img/subscribe-img1.png" data-speed="0.06" data-revert="true" alt="Blog Image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="subscribe-content">
                    <h2 class="wow animate__animated animate__fadeInUp" style="color: white;" data-wow-delay="00ms" data-wow-duration="1500ms">We Like to Start Your Project With Us</h2>
                    <p class="wow animate__animated animate__fadeInUp" style="color: white;" data-wow-delay="100ms" data-wow-duration="1500ms">If you like to start your ideas to be real please enter your email bellow and seat relax</p>
                    <form class="newsletter-form wow fadeInUp" data-toggle="validator" data-wow-delay="200ms" data-wow-duration="1500ms">
                        <input type="text" class="input-newsletter" placeholder="Enter your email address" name="EMAIL" required autocomplete="off">
                        <button type="submit" class="default-btn"><i class="flaticon-tick"></i>Contact Us Now<span></span></button>
                        <div id="validator-newsletter" class="form-result"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="vector-shape9"><img src="../../assets/frontent_files/img/shape/vector-shape9.png" alt="image"></div>
    <div class="vector-shape10"><img src="../../assets/frontent_files/img/shape/vector-shape10.png" alt="image"></div>
</section>
<!-- End Subscribe Area -->
<!-- Start Footer Area -->
 <footer class="footer-area bg-color">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <a href="index-6.html" class="logo">
                        <img src="../../assets/frontent_files/img/logo.png" style="width: 200px;" alt="logo">
                    </a>
                    <p>Transform Your Ideas into Digital Reality with Expert Web Development</p>
                    <ul class="social-link">
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget pl-5">
                    <h3>Explore</h3>
                    <ul class="footer-links-list">
                    <li><a href="/">Home</a></li>
                        <li><a href="/about-us">About</a></li>
                        <li><a href="/services">Case Studies</a></li>
                        <li><a href="/blogs">Our Blog</a></li>
                        <li><a href="/contact-us">Contact</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Resources</h3>
                    <ul class="footer-links-list">
                        <li><a href="/about-us">Our Scientists</a></li>
                        <li><a href="/services">Our Services</a></li>
                        <li><a href="">Testimonials</a></li>
                        <li><a href="#">SaaS Solutions</a></li>
                        <li><a href="#">eCommerce</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Address</h3>
                    <ul class="footer-contact-info">
                        <li><i class='bx bx-map'></i>Clumps Software, 4th floor, Vasista Bhavan, Opposite Lane DLF Gachibowli, Hyderabad, Telangana, 500032</li>
                        <li><i class='bx bx-phone-call'></i><a href="tel:+919665891425">+91 9665891425</a></li>
                        <li><i class='bx bx-envelope'></i><a href="mailto:info@clumpssoftware.com">info@clumpssoftware.com</a></li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-bottom-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <p><i class='bx bx-copyright'></i>2023 <a target="_blank" href="https://clumpssoftware.com/">clumpsSoftware</a></p>
                </div>

                <div class="col-lg-6 col-md-6">
                    <ul>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-map"><img src="../../assets/frontent_files/img/footer-map.png" alt="image"></div>
</footer>
<!-- End Footer Area -->