<app-navigation></app-navigation>
 <!-- Start About Area -->
 <section class="about-area ptb-100">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <img src="../../assets/frontent_files/img/about/img1.png" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <div class="content">
                        <span class="sub-title"><img src="../../assets/frontent_files/img/star-icon.png" alt="image"> About Us</span>
                        <h2>END TO END DEVELOPMENT</h2>
                        <p>We provide AI solutions services for different companies doing the latest tech stacks in the industry keeping in mind security compliance and ethics perspective.</p>
                        <ul class="features-list">
                            <li><span style="padding-bottom: 51px;">
                                <div class="icon">
                                    <img src="../../assets/frontent_files/img/icon1.png" alt="image">
                                </div>
                                <h3>Vision</h3>
                                <p>Creating a better future for human's using human friendly AI Solutions</p>
                            </span></li>

                            <li><span>
                                <div class="icon">
                                    <img src="../../assets/frontent_files/img/icon1.png" alt="image">
                                </div>
                                <h3>Mission</h3>
                                <p>Building human friendly AI Solutions & enabling resources to be called "Friends Of AI" </p>
                            </span></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="circle-shape1"><img src="../../assets/frontent_files/img/shape/circle-shape1.png" alt="image"></div>
</section>
<!-- End About Area -->



<!-- Start How It's Work Area -->
<section class="how-its-work-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="how-its-work-content">
                    <span class="sub-title"><img src="../../assets/frontent_files/img/star-icon.png" alt="image"> People Love Us</span>
                    <h2>Why Choose Us?<span class="overlay"></span></h2>

                    <div class="inner-box">
                        <div class="single-item">
                            <div class="count-box">
                                1
                            </div>
                            <h3>RECRUITMENT AND STAFFING</h3>
                            <p>we help resources getting upskilled in the domain of AI and make them master's in it, through international certificates, hackathon & research paper etc. and help them in getting the right and deserving opportunities. </p>
                        </div>
                        <div class="single-item">
                            <div class="count-box">
                                2
                            </div>
                            <h3>UP-SKILLING AND RESKILLING</h3>
                            <p>We provide institutional training and corporate training for upskilling and reskilling resources.</p>
                        </div>
                        <div class="single-item">
                            <div class="count-box">
                                3
                            </div>
                            <h3>STAFFING SERVICES</h3>
                            <p>We help students upskills themselves with the latest trend in the industry and then create the portfolio in the IE playground, come check our resources and explore the IE playground.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="how-its-work-image" data-tilt>
                    <img src="../../assets/frontent_files/img/how-its-work.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End How It's Work Area -->

<!-- Start How It's Work Area -->
<section class="process-area pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title"><img src="../../assets/frontent_files/img/star-icon.png" alt="image"> How It's Work</span>
            <h2>The Data Science Process<span class="overlay"></span></h2>
            <p>We follow 100% agile methodology approach with regular feature resources and adhering to timeline strictly.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-process-box wow fadeInUp" data-tilt data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="number">1</div>
                    <div class="image">
                        <img src="../../assets/frontent_files/img/process/img1.png" alt="image">
                    </div>
                    <h3>Frame the Problem</h3>
                    <p>Understanding problem statements, which design thinking philosophy.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-process-box wow fadeInUp" data-tilt data-wow-delay="100ms" data-wow-duration="1500ms">
                    <div class="number">2</div>
                    <div class="image">
                        <img src="../../assets/frontent_files/img/process/img2.png" alt="image">
                    </div>
                    <h3>Collect the Raw Data</h3>
                    <p>Data Collection and Engineering</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-process-box wow fadeInUp" data-tilt data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="number">3</div>
                    <div class="image">
                        <img src="../../assets/frontent_files/img/process/img3.png" alt="image">
                    </div>
                    <h3>Process the Data</h3>
                    <p>Data pre-processing and creation of Data pipeline</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-process-box wow fadeInUp" data-tilt data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="number">4</div>
                    <div class="image">
                        <img src="../../assets/frontent_files/img/process/img4.png" alt="image">
                    </div>
                    <h3>Explore the Data</h3>
                    <p>Deciding ML models and creation of ML Pipeline.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-process-box wow fadeInUp" data-tilt data-wow-delay="100ms" data-wow-duration="1500ms">
                    <div class="number">5</div>
                    <div class="image">
                        <img src="../../assets/frontent_files/img/process/img5.png" alt="image">
                    </div>
                    <h3>Development of ML models.</h3>
                    <p style="margin-bottom: 30px">&nbsp;</p>

                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-process-box wow fadeInUp" data-tilt data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="number">6</div>
                    <div class="image">
                        <img src="../../assets/frontent_files/img/process/img6.png" alt="image">
                    </div>
                    <h3>MlOps</h3>
                    <p>Designing of CI/CD pipeline and integrating ML and Data pipelines.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="circle-shape1"><img src="../../assets/frontent_files/img/shape/circle-shape1.png" alt="image"></div>
</section>
<!-- End How It's Work Area -->
<!-- Start How It's Work Area -->
<section class="process-area pb-70">
<div class="container">
<div class="section-title">
    <span class="sub-title"><img src="../../assets/frontent_files/img/star-icon.png" alt="image"> How It's Work</span>
    <h2>The Consulting Process<span class="overlay"></span></h2>
    <p></p>
</div>

<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="single-process-box wow fadeInUp" data-tilt data-wow-delay="00ms" data-wow-duration="1500ms">
            <div class="number">1</div>
            <div class="image">
                <img src="../../assets/frontent_files/img/process/img1.png" alt="image">
            </div>
            <h3>End-to-End  AI product development and Consulting.</h3>

        </div>
    </div>

    <div class="col-lg-4 col-md-6">
        <div class="single-process-box wow fadeInUp" data-tilt data-wow-delay="100ms" data-wow-duration="1500ms">
            <div class="number">2</div>
            <div class="image">
                <img src="../../assets/frontent_files/img/process/img2.png" alt="image">
            </div>
            <h3>Recruitments and Staffing solutions.</h3>

        </div>
    </div>

    <div class="col-lg-4 col-md-6">
        <div class="single-process-box wow fadeInUp" data-tilt data-wow-delay="200ms" data-wow-duration="1500ms">
            <div class="number">3</div>
            <div class="image">
                <img src="../../assets/frontent_files/img/process/img3.png" alt="image">
            </div>
            <h3>Cloud and Development solutions.</h3>

        </div>
    </div>

    <div class="col-lg-4 col-md-6">
        <div class="single-process-box wow fadeInUp" data-tilt data-wow-delay="200ms" data-wow-duration="1500ms">
            <div class="number">4</div>
            <div class="image">
                <img src="../../assets/frontent_files/img/process/img4.png" alt="image">
            </div>
            <h3>Ideation and Data Collection solutions.</h3>

        </div>
    </div>

    <div class="col-lg-4 col-md-6">
        <div class="single-process-box wow fadeInUp" data-tilt data-wow-delay="100ms" data-wow-duration="1500ms">
            <div class="number">5</div>
            <div class="image">
                <img src="../../assets/frontent_files/img/process/img5.png" alt="image">
            </div>
            <h3>Up-Skilling and Re-skilling solutions.</h3>
        </div>
    </div>
</div>
</div>

<div class="circle-shape1"><img src="../../assets/frontent_files/img/shape/circle-shape1.png" alt="image"></div>
</section>
<app-footer></app-footer>