<!-- Start About Area -->
<app-header></app-header>
<section class="about-area ptb-100">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <img src="{{hostUrl}}assets/frontent_files/img/about/img1.png" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <div class="content">
                        <span class="sub-title"><img src="{{hostUrl}}assets/frontent_files/img/star-icon.png"
                                alt="image"> About Us</span>
                        <h2>END TO END DEVELOPMENT</h2>
                        <p>We are a leading software development company, dedicated to providing top-notch solutions
                            that empower businesses to thrive in the digital era. With our team of highly skilled
                            developers, architects, and engineers, we deliver innovative software products and services
                            tailored to meet your specific needs. Whether you require a custom software solution,
                            enterprise application development, software consulting services or digital marketing we
                            have the expertise and experience to deliver outstanding results.</p>
                        <ul class="features-list">
                            <li><span>
                                    <div class="icon">
                                        <img src="{{hostUrl}}assets/frontent_files/img/icon1.png" alt="image">
                                    </div>
                                    <h3>5+ Years</h3>
                                    <p>On the market</p>
                                </span></li>

                            <li><span>
                                    <div class="icon">
                                        <img src="{{hostUrl}}assets/frontent_files/img/icon1.png" alt="image">
                                    </div>
                                    <h3>45+</h3>
                                    <p>Team members</p>
                                </span></li>

                            <li><span>
                                    <div class="icon">
                                        <img src="{{hostUrl}}assets/frontent_files/img/icon1.png" alt="image">
                                    </div>
                                    <h3>100%</h3>
                                    <p>Satisfaction rate</p>
                                </span></li>

                            <li><span>
                                    <div class="icon">
                                        <img src="{{hostUrl}}assets/frontent_files/img/icon1.png" alt="image">
                                    </div>
                                    <h3>100%</h3>
                                    <p>On Time Delivery</p>
                                </span></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="about-inner-area">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-text">
                        <h3>Our History</h3>
                        <p>Real innovations and a positive customer experience are the heart of successful
                            communication.</p>

                        <ul class="features-list">
                            <li><i class="flaticon-tick"></i> Activate Listening</li>
                            <li><i class="flaticon-tick"></i> Brilliant minds</li>
                            <li><i class="flaticon-tick"></i> Better. Best. Wow!</li>
                            <li><i class="flaticon-tick"></i> Branding it better!</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-text">
                        <h3>Our Mission</h3>
                        <p>Empowering Businesses with Powerful Web Solutions</p>

                        <ul class="features-list">
                            <li><i class="flaticon-tick"></i> Creating. Results.</li>
                            <li><i class="flaticon-tick"></i> Expect more</li>
                            <li><i class="flaticon-tick"></i> Good thinking</li>
                            <li><i class="flaticon-tick"></i> In real we trust</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                    <div class="about-text">
                        <h3>Who we are</h3>
                        <p>Real innovations and a positive customer experience are the heart of successful
                            communication.</p>

                        <ul class="features-list">
                            <li><i class="flaticon-tick"></i> Stay real. Always.</li>
                            <li><i class="flaticon-tick"></i> We have you covered</li>
                            <li><i class="flaticon-tick"></i> We turn heads</li>
                            <li><i class="flaticon-tick"></i> Your brand, promoted</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="circle-shape1"><img src="{{hostUrl}}assets/frontent_files/img/shape/circle-shape1.png" alt="image">
    </div>
</section>
<!-- End About Area -->



<!-- Start How It's Work Area -->
<section class="how-its-work-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="how-its-work-content">
                    <span class="sub-title"><img src="{{hostUrl}}assets/frontent_files/img/star-icon.png" alt="image">
                        People Love Us</span>
                    <h2>Why Choose Us?<span class="overlay"></span></h2>

                    <div class="inner-box">
                        <div class="single-item">
                            <div class="count-box">
                                1
                            </div>
                            <h3>Expertise and Experience</h3>
                            <p>Our team comprises highly skilled professionals with years of experience in web and
                                mobile application development. We stay up-to-date with the latest trends and
                                technologies to deliver cutting-edge solutions.</p>
                        </div>
                        <div class="single-item">
                            <div class="count-box">
                                2
                            </div>
                            <h3>Customization and Flexibility</h3>
                            <p>We understand that each business is unique, and we tailor our services to fit your
                                specific needs. We provide scalable and customizable solutions that can grow with your
                                business.</p>
                        </div>
                        <div class="single-item">
                            <div class="count-box">
                                3
                            </div>
                            <h3>Timely Delivery</h3>
                            <p>We value your time and ensure timely delivery of projects without compromising on
                                quality. Our streamlined development process allows us to meet deadlines and milestones
                                effectively.</p>
                        </div>
                        <div class="single-item">
                            <div class="count-box">
                                4
                            </div>
                            <h3>Competitive Pricing</h3>
                            <p>We offer competitive pricing models that provide value for your investment. Our
                                transparent pricing ensures that you receive a high-quality product at a reasonable
                                cost.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="how-its-work-image" data-tilt>
                    <img src="{{hostUrl}}assets/frontent_files/img/how-its-work.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End How It's Work Area -->

<!-- Start How It's Work Area -->
<section class="process-area pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title"><img src="{{hostUrl}}assets/frontent_files/img/star-icon.png" alt="image">Our Work
                Process</span>
            <h2>Delivering Excellence Every Step of the Way<span class="overlay"></span></h2>
            <p>At Clumps Software, we are passionate about empowering businesses with cutting-edge software solutions.
                Our work process is designed to ensure that we deliver excellence at every step, from initial
                consultation to final deployment.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-process-box wow fadeInUp" data-tilt data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="number">1</div>
                    <div class="image">
                        <img src="{{hostUrl}}assets/frontent_files/img/process/img1.png" alt="image">
                    </div>
                    <h3>Discovery</h3>
                    <p>We begin by understanding your business goals, requirements, and challenges. Our team conducts
                        in-depth research and analysis to identify the most effective solutions for your specific needs.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-process-box wow fadeInUp" data-tilt data-wow-delay="100ms"
                    data-wow-duration="1500ms">
                    <div class="number">2</div>
                    <div class="image">
                        <img src="{{hostUrl}}assets/frontent_files/img/process/img2.png" alt="image">
                    </div>
                    <h3>Planning</h3>
                    <p>Based on our findings, we develop a comprehensive project plan that outlines the scope,
                        timelines, and milestones. We collaborate closely with you to align our strategy with your
                        vision</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-process-box wow fadeInUp" data-tilt data-wow-delay="200ms"
                    data-wow-duration="1500ms">
                    <div class="number">3</div>
                    <div class="image">
                        <img src="{{hostUrl}}assets/frontent_files/img/process/img3.png" alt="image">
                    </div>
                    <h3>Design & Development</h3>
                    <p>Our talented designers and developers work hand-in- hand to create visually appealing interfaces
                        and robust software solutions. We employ industry best practices and cutting-edge technologies
                        to bring your ideas to life.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-process-box wow fadeInUp" data-tilt data-wow-delay="200ms"
                    data-wow-duration="1500ms">
                    <div class="number">4</div>
                    <div class="image">
                        <img src="{{hostUrl}}assets/frontent_files/img/process/img4.png" alt="image">
                    </div>
                    <h3>Testing & Quality Assurance</h3>
                    <p>We rigorously test the software to ensure its functionality, security, and usability. Our quality
                        assurance team conducts thorough testing, identifying and resolving any issues before
                        deployment.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-process-box wow fadeInUp" data-tilt data-wow-delay="100ms"
                    data-wow-duration="1500ms">
                    <div class="number">5</div>
                    <div class="image">
                        <img src="{{hostUrl}}assets/frontent_files/img/process/img5.png" alt="image">
                    </div>
                    <h3>Deployment & Training</h3>
                    <p style="margin-bottom: 30px">Once the software is ready, we deploy it to your infrastructure or
                        the cloud, ensuring a smooth transition. We also provide comprehensive training to your team,
                        enabling them to make the most of the solution.</p>

                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-process-box wow fadeInUp" data-tilt data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="number">6</div>
                    <div class="image">
                        <img src="{{hostUrl}}assets/frontent_files/img/process/img6.png" alt="image">
                    </div>
                    <h3>Support & Maintenance</h3>
                    <p>Our commitment doesn't end with deployment. We offer ongoing support and maintenance services to
                        ensure your software continues to perform optimally. Our team is always ready to assist you
                        whenever you need it.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="circle-shape1"><img src="{{hostUrl}}assets/frontent_files/img/shape/circle-shape1.png" alt="image">
    </div>
</section>
<!-- End How It's Work Area -->
<section>
    <app-footer class="w-full absolute left-0"></app-footer>
</section>