<app-header></app-header>
<section class="w-full flex flex-col">
    <div class="w-full flex flex-row flex-wrap justify-between mt-[150px]">
        <div class="w-full md:w-[38%] flex flex-col justify-center items-start gap-5">
            <h2 class="text-[40px] md:text-[60px] text-black font-bold">
                Make The Best Software for your business
            </h2>

            <p>
                Don't waste time and money recruiting and onboarding . Clumps software solutions will give the best
                software to run your business with faster implementation .
            </p>
            <p>
                Custom Software Development Services From Dedicated Developers With Vast Industry-Specific Experience
            </p>
            <button type="button"
                class="py-[10px] px-[15px] border-[1px] border-[#191A23] rounded-[14px] bg-black text-[#fff] mt-5">Book
                a consultation </button>
        </div>
        <div class="w-full md:w-[48%] flex justify-end">
            <img class="h-auto" src="{{hostUrl}}assets/frontent_files/img/services/software-development/s-d-img-1.png"
                alt="homepage" data-aos="zoom-in" data-aos-duration="1000" />
        </div>

    </div>

</section>
<section class="flex flex-col mt-[100px] mb-5">
    <div class="flex flex-col gap-5 justify-center items-center text-center">
        <h2 class=" w-[80%] text-[30px] font-bold text-[#33B5CC]">
            Custom Software Development Services From Dedicated Developers With Vast Industry-Specific Experience
        </h2>
    </div>
    <div class="w-full flex flex-col md:flex-row justify-center items-center mt-[50px]">
        <div class="w-full md:w-[40%] flex flex-col">
            <img src="{{hostUrl}}assets/frontent_files/img/services/software-development/s-d-img-2.png" />
        </div>
        <div class="w-full md:w-[58%] flex flex-col justify-start items-start gap-5 mb-2">
            <div class="flex flex-row gap-5">
                <div class="w-[20%] md:w-[15%]">
                    <img src="{{hostUrl}}assets/frontent_files/img/services/software-development/icons/4685251-1.png"
                        alt="software development company" title="software development company">
                </div>
                <div class="w-[78%] md:w-[80%] flex flex-col">
                    <h2 class="text-[#33B5CC] text-[20px]">
                        Custom Software Development
                    </h2>
                    <p>
                        Our custom web development solutions accelerate workflows, boost revenues, and optimize business
                        operations from concept-to-code and development-to-deployment.
                    </p>
                </div>
            </div>
            <div class="flex flex-row gap-5">
                <div class="w-[20%] md:w-[15%]">
                    <img src="{{hostUrl}}assets/frontent_files/img/services/software-development/icons/7060983-1.png"
                        alt="Implementation & Deployment" title="Implementation & Deployment">
                </div>
                <div class="w-[78%] md:w-[80%] flex flex-col">
                    <h2 class="text-[#33B5CC] text-[20px]">
                        Implementation & Deployment
                    </h2>
                    <p>
                        We devise an in-depth, comprehensive development process including software implementation &
                        deployment plan, assessing your needs to deliver an enhanced user experience for end-users.
                    </p>
                </div>
            </div>
            <div class="flex flex-row gap-5">
                <div class="w-[20%] md:w-[15%]">
                    <img src="{{hostUrl}}assets/frontent_files/img/services/software-development/icons/8267880-1.png"
                        alt="API Development" title="API Development">
                </div>
                <div class="w-[78%] md:w-[80%] flex flex-col">
                    <h2 class="text-[#33B5CC] text-[20px]">
                        API Development
                    </h2>
                    <p>
                        We develop reliable, well-documented, and easy-to-consume APIs that enable flexible integrations
                        and customization of existing software products.
                    </p>
                </div>
            </div>
            <div class="flex flex-row gap-5">
                <div class="w-[20%] md:w-[15%]">
                    <img src="{{hostUrl}}assets/frontent_files/img/services/software-development/icons/7182359-1.png"
                        alt="System Integrations" title="System Integrations">
                </div>
                <div class="w-[78%] md:w-[80%] flex flex-col">
                    <h2 class="text-[#33B5CC] text-[20px]">
                        System Integrations
                    </h2>
                    <p>
                        Our software integration engineers adopt new technologies and processes to overcome challenges
                        relating to everything from architectural design to testing to execution.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full flex flex-col-reverse md:flex-row justify-center items-center mt-[50px]">

        <div class="w-full md:w-[58%] flex flex-col justify-start items-start gap-5 mb-5">
            <div class="flex flex-row gap-5">
                <div class="w-[20%] md:w-[15%]">
                    <img src="{{hostUrl}}assets/frontent_files/img/services/software-development/icons/4685251-1.png"
                        alt="Custom Software Development" title="Custom Software Development">
                </div>
                <div class="w-[78%] md:w-[80%] flex flex-col">
                    <h2 class="text-[#33B5CC] text-[20px]">
                        Custom Software Development
                    </h2>
                    <p>
                        Our custom web development solutions accelerate workflows, boost revenues, and optimize business
                        operations from concept-to-code and development-to-deployment.
                    </p>
                </div>
            </div>

            <div class="flex flex-row gap-5">
                <div class="w-[20%] md:w-[15%]">
                    <img src="{{hostUrl}}assets/frontent_files/img/services/software-development/icons/7060983-1.png"
                        alt="Implementation & Deployment" title="Implementation & Deployment">
                </div>
                <div class="w-[78%] md:w-[80%] flex flex-col">
                    <h2 class="text-[#33B5CC] text-[20px]">
                        Implementation & Deployment
                    </h2>
                    <p>
                        We devise an in-depth, comprehensive development process including software implementation &
                        deployment plan, assessing your needs to deliver an enhanced user experience for end-users.
                    </p>
                </div>
            </div>

            <div class="flex flex-row gap-5">
                <div class="w-[20%] md:w-[15%]">
                    <img src="{{hostUrl}}assets/frontent_files/img/services/software-development/icons/8267880-1.png"
                        alt="software development services" title="software development services">
                </div>
                <div class="w-[78%] md:w-[80%] flex flex-col">
                    <h2 class="text-[#33B5CC] text-[20px]">
                        API Development
                    </h2>
                    <p>
                        We develop reliable, well-documented, and easy-to-consume APIs that enable flexible integrations
                        and customization of existing software products.
                    </p>
                </div>
            </div>

            <div class="flex flex-row gap-5">
                <div class="w-[20%] md:w-[15%]">
                    <img src="{{hostUrl}}assets/frontent_files/img/services/software-development/icons/7182359-1.png"
                        alt="System Integrations" title="System Integrations">
                </div>
                <div class="w-[78%] md:w-[80%] flex flex-col">
                    <h2 class="text-[#33B5CC] text-[20px]">
                        System Integrations
                    </h2>
                    <p>
                        Our software integration engineers adopt new technologies and processes to overcome challenges
                        relating to everything from architectural design to testing to execution.
                    </p>
                </div>
            </div>
        </div>

        <div class="w-full md:w-[40%] flex flex-col">
            <img src="{{hostUrl}}assets/frontent_files/img/services/software-development/s-d-img-3.png" alt="custom software development services" title="custom software development services"/>
        </div>
    </div>
    <div class="w-full flex justify-center items-center ">
        <button type="button"
            class="px-5 py-2 border-4 border-[#33B5CC] rounded hover:bg-[#33B5CC] hover:text-white">Schedule A
            Meeting</button>
    </div>
</section>
<section class="flex flex-col mt-[100px] mb-5">
    <div class="flex flex-col gap-5 justify-center items-center text-center">
        <h2 class=" w-[80%] text-[30px] font-bold text-[#33B5CC]">
            Product Lifecycle Management (PLM)
        </h2>
        <p class=" w-[80%]">
            Our agile, end-to-end product lifecycle management (PLM) model covers everything from conceptualization,
            concurrent front-end & back-end coding, deployment, QA, and more.
        </p>
    </div>
    <div class="w-full flex flex-col md:flex-row justify-center items-center mt-[50px]">
        <div class="w-full md:w-[40%] flex flex-col">
            <img src="{{hostUrl}}assets/frontent_files/img/services/software-development/s-d-img-4.png" />
        </div>
        <div class="w-full md:w-[58%] flex flex-col justify-start items-start gap-5 mb-2">
            <div class="flex flex-row gap-5">
                <div class="w-[20%] md:w-[15%]">
                    <img src="{{hostUrl}}assets/frontent_files/img/services/software-development/icons/7187449-1.png"
                        alt="Quality Testing" title="Quality Testing">
                </div>
                <div class="w-[78%] md:w-[80%] flex flex-col">
                    <h2 class="text-[#33B5CC] text-[20px]">
                        Quality Assurance (QA) Testing
                    </h2>
                    <p>
                        We provide comprehensive quality assurance (QA) testing services to deliver high value-added and
                        agile-aligned software solutions and applications.
                    </p>
                </div>
            </div>
            <div class="flex flex-row gap-5">
                <div class="w-[20%] md:w-[15%]">
                    <img src="{{hostUrl}}assets/frontent_files/img/services/software-development/icons/3043483-1.png"
                        alt="Data Migrations & Upgrades" title="Data Migrations & Upgrades">
                </div>
                <div class="w-[78%] md:w-[80%] flex flex-col">
                    <h2 class="text-[#33B5CC] text-[20px]">
                        Data Migrations & Upgrades
                    </h2>
                    <p>
                        We perform cloud-based data migrations, system upgrades, and other vital software modernization
                        services, prioritizing system uptime and data integrity.
                    </p>
                </div>
            </div>
            <div class="flex flex-row gap-5">
                <div class="w-[20%] md:w-[15%]">
                    <img src="{{hostUrl}}assets/frontent_files/img/services/software-development/icons/4993419-1.png"
                        alt="Support Services" title="Support Services">
                </div>
                <div class="w-[78%] md:w-[80%] flex flex-col">
                    <h2 class="text-[#33B5CC] text-[20px]">
                        SLA Support Services
                    </h2>
                    <p>
                        We meet your contracted Service Level Agreements (SLA), guaranteeing SLA compliance and ensuring
                        optimal monitoring, reporting, and management of your SLA services.
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="w-full flex flex-col-reverse md:flex-row justify-center items-center mt-[50px]">

        <div class="w-full md:w-[58%] flex flex-col justify-start items-start gap-5 mb-5">
            <div class="flex flex-row gap-5">
                <div class="w-[20%] md:w-[15%]">
                    <img src="{{hostUrl}}assets/frontent_files/img/services/software-development/icons/719079-1.png"
                        alt="Security Services" title="Security Services">
                </div>
                <div class="w-[78%] md:w-[80%] flex flex-col">
                    <h2 class="text-[#33B5CC] text-[20px]">
                        IT Security Services
                    </h2>
                    <p>
                        Our thorough threat audits help us identify your infrastructure’s most critical vulnerabilities,
                        allowing us to implement the encryptions & protocols you require.
                </div>
            </div>

            <div class="flex flex-row gap-5">
                <div class="w-[20%] md:w-[15%]">
                    <img src="{{hostUrl}}assets/frontent_files/img/services/software-development/icons/6966324-1.png"
                        alt="Data Backup & Disaster Recovery" title="Data Backup & Disaster Recovery">
                </div>
                <div class="w-[78%] md:w-[80%] flex flex-col">
                    <h2 class="text-[#33B5CC] text-[20px]">
                        Data Backup & Disaster Recovery
                    </h2>
                    <p>
                        We implement robust data backup and recovery strategies for cloud-based, on-premise, and hybrid
                        servers designed to ensure data integrity and business continuity.
                    </p>
                </div>
            </div>

            <div class="flex flex-row gap-5">
                <div class="w-[20%] md:w-[15%]">
                    <img src="{{hostUrl}}assets/frontent_files/img/services/software-development/icons/3713716-1.png"
                        alt="Infrastructure Support Services" title="Infrastructure Support Services">
                </div>
                <div class="w-[78%] md:w-[80%] flex flex-col">
                    <h2 class="text-[#33B5CC] text-[20px]">
                        Infrastructure Support Services
                    </h2>
                    <p>
                        We provide holistic IT infrastructure support, including help desk management, custom messaging
                        & collaboration, network management, and system administration services.
                    </p>
                </div>
            </div>
        </div>

        <div class="w-full md:w-[40%] flex flex-col">
            <img src="{{hostUrl}}assets/frontent_files/img/services/software-development/s-d-img-5.png" />
        </div>
    </div>
    <div class="w-full flex justify-center items-center ">
        <button type="button"
            class="px-5 py-2 border-4 border-[#33B5CC] rounded hover:bg-[#33B5CC] hover:text-white">Schedule A
            Meeting</button>
    </div>
</section>
<section class="flex flex-col mt-[100px] mb-5">
    <div class="flex flex-col gap-5 justify-center items-center text-center">
        <h2 class=" w-[80%] text-[30px] font-bold text-[#33B5CC]">
            Customized Software Solutions.
        </h2>
        <p class=" w-[80%]">
            Augment your existing development team to complete a big project or build a new software solution or
            application from scratch with the best custom software development company, Clumps Software Solutions.
        </p>
    </div>
    <div class="w-full flex flex-col md:flex-row justify-center items-center mt-[50px]">
        <div class="w-full md:w-[40%] flex flex-col">
            <img src="{{hostUrl}}assets/frontent_files/img/services/software-development/s-d-img-6.png" />
        </div>
        <div class="w-full md:w-[58%] flex flex-col justify-start items-start gap-5 mb-2 md:p-5">
            <div class="flex flex-row gap-5">
                <div class="w-[20%] md:w-[15%]">
                    <img src="{{hostUrl}}assets/frontent_files/img/services/software-development/icons/7187449-1.png"
                        alt="Customer Relationship Management" title="Customer Relationship Management">
                </div>
                <div class="w-[78%] md:w-[80%] flex flex-col">
                    <h2 class="text-[#33B5CC] text-[20px]">
                        Customer Relationship Management (CRM) Solutions
                    </h2>
                    <p>
                        Our software engineers and developers create custom CRM solutions that best fit business
                        objectives, installing and migrating industry-leading platforms, such as Salesforce, SugarCRM,
                        Microsoft Dynamics, SAP, and more for seamless CRM integration.
                    </p>
                </div>
            </div>
            <div class="flex flex-row gap-5">
                <div class="w-[20%] md:w-[15%]">
                    <img src="{{hostUrl}}assets/frontent_files/img/services/software-development/icons/3043483-1.png"
                        alt="Enterprise Resource Planning - ERP" title="Enterprise Resource Planning - ERP">
                </div>
                <div class="w-[78%] md:w-[80%] flex flex-col">
                    <h2 class="text-[#33B5CC] text-[20px]">
                        Enterprise Resource Planning (ERP) Solutions
                    </h2>
                    <p>
                        We develop custom ERP solutions by revamping existing solutions or developing ERP systems from
                        scratch, designed to cover core business functions, including inventory & distribution
                        management, production, accounting, and more.
                    </p>
                </div>
            </div>
            <div class="flex flex-row gap-5">
                <div class="w-[20%] md:w-[15%]">
                    <img src="{{hostUrl}}assets/frontent_files/img/services/software-development/icons/4993419-1.png"
                        alt="Payment Processing Solutions" title="Payment Processing Solutions">
                </div>
                <div class="w-[78%] md:w-[80%] flex flex-col">
                    <h2 class="text-[#33B5CC] text-[20px]">
                        Point-of-Sale/Payment Processing Solutions
                    </h2>
                    <p>
                        Our point-of-sale (POS) programmers seamlessly integrate industry-leading solutions and POS
                        terminals, including Clover, Verifone, Ingenico, Stripe, Worldpay, and more, into your business
                        systems to enable easy payment transactions.
                    </p>
                </div>
            </div>
            <div class="flex flex-row gap-5">
                <div class="w-[20%] md:w-[15%]">
                    <img src="{{hostUrl}}assets/frontent_files/img/services/software-development/icons/4993419-1.png"
                        alt="AI & IoT-Connectivity Solutions" title="AI & IoT-Connectivity Solutions">
                </div>
                <div class="w-[78%] md:w-[80%] flex flex-col">
                    <h2 class="text-[#33B5CC] text-[20px]">
                        AI & IoT-Connectivity Solutions
                    </h2>
                    <p>
                        We program and integrate embedded software and firmware into a host of AI-powered IoT and M2M
                        devices, including smart home equipment, consumer electronics, wearable technologies, industrial
                        automation mechanisms (IIoT), and more.
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="w-full flex flex-col-reverse md:flex-row justify-center items-center mt-[50px]">
        <div class="w-full md:w-[58%] flex flex-col justify-start items-start gap-5 mb-5">
            <h2 class="text-[20px] text-black font-bold text-[#33B5CC]">
                Our Developers Have Industry Expertise
            </h2>
            <p>
                Our dedicated team of 2,800+ in-house developers has extensive industry-specific experience building
                custom software solutions and applications for:
            </p>
            <ul class="flex flex-row flex-wrap justify-between list-disc p-5">
                <li class="w-full md:w-[50%]">Healthcare</li>
                <li class="w-full md:w-[50%]">Hospitality & Travel</li>
                <li class="w-full md:w-[50%]">Human Capital Management (HCM)</li>
                <li class="w-full md:w-[50%]">Meetings & Events</li>
                <li class="w-full md:w-[50%]">Real Estate</li>
                <li class="w-full md:w-[50%]">Retail</li>
                <li class="w-full md:w-[50%]">Supply Chain</li>
                <li class="w-full md:w-[50%]">Transportation</li>
                <li class="w-full md:w-[50%]">Agriculture</li>
                <li class="w-full md:w-[50%]">Aviation</li>
                <li class="w-full md:w-[50%]">Artificial Intelligence</li>
                <li class="w-full md:w-[50%]">ChatGPT</li>
                <li class="w-full md:w-[50%]">Casino Games</li>
                <li class="w-full md:w-[50%]">E-Learning </li>
                <li class="w-full md:w-[50%]">Finance Gaming</li>
            </ul>
        </div>

        <div class="w-full md:w-[40%] flex flex-col">
            <img src="{{hostUrl}}assets/frontent_files/img/services/software-development/s-d-img-7.png" alt="custom application development company" title="custom application development company"/>
        </div>
    </div>
    <div class="w-full flex flex-col-reverse md:flex-row justify-center items-center mt-[50px]">
        <div class="w-full md:w-[40%] flex flex-col">
            <img src="{{hostUrl}}assets/frontent_files/img/services/software-development/s-d-img-8.png" alt="Our Programming Expertise" title="Our Programming Expertise"/>
        </div>
        <div class="w-full md:w-[58%] flex flex-col justify-start items-start gap-5 mb-5 md:p-5">
            <h2 class="text-[20px]  font-bold text-[#33B5CC]">
                Our Programming Expertise
            </h2>
            <p>
                Our highly experienced software developers have a deep understanding of how to leverage top programming languages, frameworks, and other software development tools to create the ideal solution for your digital transformation goals.
            </p>
            <ul class="flex flex-row flex-wrap justify-between list-disc p-5">
                <li class="w-full md:w-[50%]">Angular</li>
                <li class="w-full md:w-[50%]">Ruby on rails</li>
                <li class="w-full md:w-[50%]">ASP.NET</li>
                <li class="w-full md:w-[50%]">React</li>
                <li class="w-full md:w-[50%]">Django</li>
                <li class="w-full md:w-[50%]">Laravel</li>
                <li class="w-full md:w-[50%]">Backbone.js</li>
                <li class="w-full md:w-[50%]">Vue.js</li>
                     
                <li class="w-full md:w-[50%]">java</li>
                <li class="w-full md:w-[50%]">JavaScript</li>
                <li class="w-full md:w-[50%]">Python</li>
                <li class="w-full md:w-[50%]">C#</li>
                <li class="w-full md:w-[50%]">C++</li>
                <li class="w-full md:w-[50%]">SQL </li>
                <li class="w-full md:w-[50%]">MongoDB</li>
                <li class="w-full md:w-[50%]">Postgres</li>
            </ul>
        </div>


    </div>
    <div class="w-full flex justify-center items-center mt-[20px]">
        <button type="button"
            class="px-5 py-2 border-4 border-[#33B5CC] rounded hover:bg-[#33B5CC] hover:text-white">Schedule A
            Meeting
        </button>
    </div>
</section>

<section class="w-full flex flex-col md:flex-row gap-5 justify-center items-center">
    <div class="w-28%">
        <h2 class="font-bold text-[30px] text-[#33B5CC]">Find a developer for your project </h2>
    </div>
    
    <div class="w-full md:w-[70%] flex flex-row flex-wrap justify-center items-center">
        <div class="w-[40%] md:w-[30%] flex-row flex-nowrap" *ngFor="let items of Technology">
            <span>
                <img src="{{hostUrl}}assets/frontent_files/img/services/software-development/{{items.URL}}" alt="Industries We Serve" title="Industries We Serve" srcset="">
            </span> 
            <p>{{items.name}}</p>
        </div>
    </div>
</section>
<section class="w-full flex flex-col mt-[100px]">
    <div class="w-full">
        <h2 class="text-center text-[50px] font-bold ">
            Industries We Serve
        </h2>
    </div>
    <img src="{{hostUrl}}assets/frontent_files/img/services/served-industry.png"/>
</section>

<app-contact></app-contact>
<!-- footer -->
<section>
    <app-footer class="w-full absolute left-0"></app-footer>
</section>
