<app-navigation></app-navigation>
<!-- Start Services Studies Details Area -->
<section class="services-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="services-details-image">
                    <img src="../../assets/frontent_files/img/services/services-details1.jpg" alt="image">
                </div>
                <div class="services-details-desc">
                    <span class="sub-title">AI & ML Development</span>
                    <h3>About this Services</h3>
                    <p>Improve Machine Learning algorithms by studying underfitting, overfitting, training, validation, n-fold cross validation, testing, and how hyperparameters could improve performance. Perform linear and logistic regressions in Python.</p>
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="image">
                                <img src="../../assets/frontent_files/img/projects/img2.jpg" alt="image">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="content">
                                <h3>Important Facts</h3>
                                <ul>
                                    <li>The Field of Data Science</li>
                                    <li>The Problem</li>
                                    <li>The Solution</li>
                                    <li>The Skills</li>
                                    <li>Statistics</li>
                                    <li>Mathematics</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <h3>Case Studies</h3>
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 col-md-6">
                            <div class="single-industries-serve-box wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <div class="icon">
                                    <i class="flaticon-factory"></i>
                                </div>
                                Oil Spillage Detection
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-6 col-md-6">
                            <div class="single-industries-serve-box wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                                <div class="icon">
                                    <i class="flaticon-hospital"></i>
                                </div>
                                Pulmanology Disease Diagnose
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-6 col-md-6">
                            <div class="single-industries-serve-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                                <div class="icon">
                                    <i class="flaticon-tracking"></i>
                                </div>
                                Driver Distraction Detection
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-6 col-md-6">
                            <div class="single-industries-serve-box wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                                <div class="icon">
                                    <i class="flaticon-idea"></i>
                                </div>
                                Manufacturing plant Rasa Chat Bot
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-6 col-md-6">
                            <div class="single-industries-serve-box wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                                <div class="icon">
                                    <i class="flaticon-rocket"></i>
                                </div>
                                Satellite to Drone image registration
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-6 col-md-6">
                            <div class="single-industries-serve-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                                <div class="icon">
                                    <i class="flaticon-user"></i>
                                </div>
                                Automated Resource Screening
                            </div>
                        </div>
                    </div>
                    <h3>Technologies That We Use</h3>
                    <ul class="technologies-features">
                        <li><span>Python</span></li>
                        <li><span>R</span></li>
                        <li><span>SAS</span></li>
                        <li><span>Node JS</span></li>
                        <li><span>React/Angular JS</span></li>
                        <li><span>SQL</span></li>
                        <li><span>MongoDB/Neo4j</span></li>
                        <li><span>Tableau</span></li>
                        <li><span> power-BI</span></li>
                    </ul>

                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="services-details-info">
                    <ul class="services-list">
                        <li><a href="#" class="active">AI & ML Development</a></li>
                        <li><a href="#">Data Analytics & Visualization</a></li>
                        <li><a href="#">Recurement & Staffing</a></li>
                        <li><a href="#">Up-Skilling & Re-Skilling </a></li>

                    </ul>



                    <div class="services-contact-info">
                        <h3>Contact Info</h3>

                        <ul>
                            <li>
                                <div class="icon">
                                    <i class='bx bx-user-pin'></i>
                                </div>
                                <span>Phone:</span>
                                <a href="tel:+919437641661" target="_blank">+91-943 764 1661</a>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class='bx bx-map'></i>
                                </div>
                                <span>Location:</span>
                              Hyderabad
                            </li>
                            <li>
                                <div class="icon">
                                    <i class='bx bx-envelope'></i>
                                </div>
                                <span>Email:</span>
                                <a href="mailto:info@infiniteepoch.com">info@infiniteepoch.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Studies Details Area -->

<!-- Start Services Area -->
<section class="services-area pt-100 pb-70 bg-f1f8fb">
    <div class="container">
        <div class="section-title">
            <h2>More Services You Might Like</h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="icon">
                        <img src="../../assets/frontent_files/img/services/icon1.png" alt="image">
                    </div>
                    <h3><a href="#">Data Analytics</a></h3>
                    <p></p>

                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                    <div class="icon">
                        <img src="../../assets/frontent_files/img/services/icon1.png" alt="image">
                    </div>
                    <h3><a href="#">AI & ML Development</a></h3>
                    <p></p>

                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="icon">
                        <img src="../../assets/frontent_files/img/services/icon1.png" alt="image">
                    </div>
                    <h3><a href="#">Data Science</a></h3>
                    <p></p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Area -->

<app-footer></app-footer>