<app-header logo="Clumps  Ecomm Suite"></app-header>
<section class="w-full flex flex-col my-10 items-center md:px-5 mb-5">
    <div class="w-full flex flex-col-reverse md:flex-row justify-between mt-[150px] gap-20">
        <div class="w-full md:w-[48%] flex flex-col justify-center items-start gap-5 md:mt-5">
            <h2 class="text-[45px] md:text-[60px] text-black font-bold">
                Streamline Your Business Operations
            </h2>
            <p class=" text-[#424040] md:text-[#6b6b84]">
                Clumps Systemic Solutions is a comprehensive ERP software designed to optimize your business processes, enhance productivity, and drive growth. With its user-friendly interface and advanced features, our ERP solution empowers businesses of all sizes to manage inventory, finance, sales, and more efficiently. Experience seamless integration and gain valuable insights to make informed decisions and stay ahead of the competition.
            </p>

        </div>
        <div class="w-full md:flex md:w-[58%] justify-center">
            <div class="max-w-md w-full p-6 bg-white rounded-lg shadow-lg">
                <h2 class="text-[16px] text-[#F0483E] text-center font-semibold mb-4">Get Started With Your Free Trial
                </h2>
                <form>
                    <div class="mb-4">
                        <label for="email" class="block text-gray-700 font-medium mb-2">Email</label>
                        <input type="email" id="email" name="email"
                            class="w-full px-4 py-2 border rounded-lg focus:ring-blue-500 focus:border-blue-500">
                    </div>
                    <div class="flex mb-4">
                        <div class="w-1/2 mr-2">
                            <label for="username" class="block text-gray-700 font-medium mb-2">Username</label>
                            <input type="text" id="username" name="username"
                                class="w-full px-4 py-2 border rounded-lg focus:ring-blue-500 focus:border-blue-500">
                        </div>
                        <div class="w-1/2 ml-2">
                            <label for="contact" class="block text-gray-700 font-medium mb-2">Contact Number</label>
                            <input type="tel" id="contact" name="contact"
                                class="w-full px-4 py-2 border rounded-lg focus:ring-blue-500 focus:border-blue-500">
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="password" class="block text-gray-700 font-medium mb-2">Password</label>
                        <input type="password" id="password" name="password"
                            class="w-full px-4 py-2 border rounded-lg focus:ring-blue-500 focus:border-blue-500">
                    </div>
                    <div class="mb-4">
                        <label for="terms" class="flex items-center">
                            <input type="checkbox" id="terms" name="terms" class="mr-2">
                            <span class="text-gray-700">I agree to the <a href="#" class="text-blue-500">Terms of
                                    Service</a> and <a href="#" class="text-blue-500">Privacy Policy</a></span>
                        </label>
                    </div>
                    <button type="submit"
                        class="w-full py-2 px-4 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition duration-300">GET
                        STARTED</button>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="w-full flex flex-col my-10 items-center md:px-5 mb-5">
    <div class="w-full md:w-[80%] text-center  gap-y-3 flex flex-col items-center justify-center">
        <h2 class="font-bold text-[50px] text-start md:text-center">Empowering your eCommerce growth</h2>
        <p class="w-[80%] text-center">Our all-in-one platform provides the solutions you need for greater visibility, smarter ad campaigns, and more personalized marketing.</p>
    </div>
    <div class="w-[80%] flex flex-col my-10 items-center md:px-5 mb-5">
        <img class="w-full" src="{{hostUrl}}assets/frontent_files/img/product/ecommerce/ecommerce.png" alt="Empowering eCommerce Growth - Clumps Solutions" title="Empowering eCommerce Growth - Clumps Solutions" srcset="">
    </div>
</section>
<section class="w-full flex flex-col justify-center  my-10 items-center md:px-5 mb-5 gap-y-3">
    <div class="w-full text-center  gap-y-3 flex flex-col items-center justify-center">
        <h2 class="font-bold text-[50px]">Your optimized eCommerce strategy. One click away</h2>
    </div>
    <div class="w-ful md:w-[80%] flex flex-col md:flex-row justify-center items-start flex-wrap gap-5">
        <div  class="w-full md:w-[40%] min-h-[250px] flex flex-col text-center border-2 rounded-xl bg-[#C8EBF0] p-4">
            <h2 class="font-bold text-[20px] my-2">Drive customer engagement</h2>
            <p>Bring products to market fast and in a reliable way across 2,500+ channels worldwide.</p>
        </div>
        <div  class="w-full md:w-[40%] min-h-[250px] flex flex-col text-center border-2 rounded-xl bg-[#C8EBF0] p-4">
            <h2 class="font-bold text-[20px] my-2">Maximize online visibility</h2>
            <p>Promote your products globally by creating performance-based PPC campaigns across different ad formats and platforms.</p>
        </div>
        <div  class="w-full md:w-[40%] min-h-[250px] flex flex-col text-center border-2 rounded-xl bg-[#C8EBF0] p-4">
            <h2 class="font-bold text-[20px] my-2">Increase sales on marketplaces</h2>
            <p>Effortlessly integrate, reprice, and optimize your product catalogs to maximize your revenue.</p>
        </div>
        <div  class="w-full md:w-[40%] min-h-[250px] flex flex-col text-center border-2 rounded-xl bg-[#C8EBF0] p-4">
            <h2 class="font-bold text-[20px] my-2">Get insights from performance data</h2>
            <p>Use your performance data to increase the efficiency of your marketing campaigns and boost online sales.
            </p>
        </div>

    </div>
</section>

<section class="w-full flex flex-col justify-center  my-10 items-center md:px-5 mb-5 gap-y-3">
    <div class="w-full text-center  gap-y-3 flex flex-col items-center justify-center">
        <h2 class="font-bold text-[50px]">A fully integrated way to market your products online</h2>
        <p>Manage thousands of ads, launch ad campaigns at scale, and integrate with thousands of channels and marketplaces – seamlessly and securely.</p>
    </div>
    <div class="w-full md:w-[80%] flex flex-col md:flex-row justify-center items-start flex-wrap gap-5">
        <div  class="w-full md:w-[40%] min-h-[250px] flex flex-col text-center border-2 rounded-xl bg-[#C8EBF0] p-4">
            <h2 class="font-bold text-[20px] my-2">Feed Management</h2>
            <p>Promote your products across thousands of marketplaces, ad platforms, and price-comparison sites with ready-made feed templates and real-time updates across every channel.</p>
        </div>
        <div  class="w-full md:w-[40%] min-h-[250px] flex flex-col text-center border-2 rounded-xl bg-[#C8EBF0] p-4">
            <h2 class="font-bold text-[20px] my-2">Marketplace Integration</h2>
            <p>Reach a wider audience by integrating your shop with key digital marketplaces, and automatically update your product listings to target the right shoppers.</p>
        </div>
        <div  class="w-full md:w-[40%] min-h-[250px] flex flex-col text-center border-2 rounded-xl bg-[#C8EBF0] p-4">
            <h2 class="font-bold text-[20px] my-2">Insights & Analytics</h2>
            <p>Optimize your product listings and ad campaigns with real-time performance data customized to your KPIs, so you can boost conversions and display your brand at its best.</p>
        </div>
        <div  class="w-full md:w-[40%] min-h-[250px] flex flex-col text-center border-2 rounded-xl bg-[#C8EBF0] p-4">
            <h2 class="font-bold text-[20px] my-2">PPC Optimization</h2>
            <p>Quickly configure, launch, and customize ads, campaigns, and keywords from your product feed — without having to navigate multiple listing requirements or manually update each platform.
            </p>
        </div>

    </div>
</section>
<section class="w-full flex flex-col justify-center  my-10 items-center md:px-5 mb-5 gap-y-3">
    <div class="w-full text-center  gap-y-3 flex flex-col items-center justify-center">
        <h2 class="font-bold text-[50px]">Purpose-built for eCommerce growth</h2>
    </div>
    <div class="w-full md:w-[80%] flex flex-col md:flex-row justify-center items-start flex-wrap gap-5 mt-5">
        <div  class="w-full md:w-[30%] min-h-[250px] flex flex-col text-center border-2 rounded-xl bg-[#C8EBF0] p-4">
            <h2 class="font-bold text-[20px] my-2">For Retailers</h2>
            <p>Sell your products, your way. Import your listings to integrated product feeds, run spot-on ads, and market your products across thousands of digital channels.</p>
        </div>
        <div  class="w-full md:w-[30%] min-h-[250px] flex flex-col text-center border-2 rounded-xl bg-[#C8EBF0] p-4">
            <h2 class="font-bold text-[20px] my-2">For Agency</h2>
            <p>Turn your clients’ product information into a powerful experience. Manage everything in-house, from creating PPC campaigns to analyzing your performance data.</p>
        </div>
        <div  class="w-full md:w-[30%] min-h-[250px] flex flex-col text-center border-2 rounded-xl bg-[#C8EBF0] p-4">
            <h2 class="font-bold text-[20px] my-2">For Brands</h2>
            <p>Optimize product data and grow your brand in a seamless way. Launch ad campaigns on key marketplaces, automate workflows, and manage listings in an intuitive feed.</p>
        </div>
    </div>
</section>

<section>
    <app-contact-us></app-contact-us>
  </section>
  <section>
    <app-footer class="w-full absolute left-0"></app-footer>
</section>