header{
    width:100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 10px #abaaaa8f;
    background: rgb(255, 255, 255);
}
#chk1{
    display: none;
}
i{
    color: black;
    cursor: pointer;
}
header .logo{
    flex: 1;
    color:black;
     
    margin-left: 50px;
    /* text-transform: uppercase; */
    font-size: 15px;
}

 
.search-box button{
    cursor: pointer;
    width:40px;
    height: 40px;
    border-radius: 30px;
    border:none;
    position: absolute;
    top:0;
    right: 0;
    transform: scale(0.9);
    background: green;
    color: #fff;
}
header ul {
    flex:3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header ul li{
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color:#000;
    font-weight: 600;
    /* text-transform: uppercase; */
    padding: 10px 15px;
}
header ul li a:hover{
    border-bottom: 2px solid cadetblue;
}
header .menu{
    font-size: 2em;
    margin-top:20px;
    display: none;
}
@media(max-width:1000px){
    .search-box button{
        position: absolute;
    }
    header ul{
        position: fixed;
        top:100px;
        right: -100%;
        background: rgba(0, 0, 0, 0.067);
        height: calc(100vh - 100px);
        width:100%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
     
    header .menu{
        display: block;
        width:100px;
        text-align: center;
    }
    #chk1:checked ~ ul{
        right: 0;
    }
  
}