<header class="absolute top-0 left-0">
    <input type="checkbox" name="" id="chk1">
    <div class="logo">
        <a [routerLink]="['/home']" >
            <img src="{{hostUrl}}assets/frontent_files/img/clumpssoftware.png" alt=""/>
        </a>
        
    </div>
    <!-- <div class="search-box">
            <form>
                <input type ="text" name ="search" id ="srch" placeholder="Search">
                <button type ="submit"><i class="fa fa-search"></i></button>
            </form>
        </div> -->
    <ul>
        <li><a routerLink="about-us">About Us</a></li>
        <li><a href="#">Product</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Blog</a></li>
        <li class="py-[10px] px-[15px] border-[1px] border-[#191A23] rounded-[14px]"><a href="#" >Request a quote</a></li>
    </ul>
    <div class="menu">
        <label for="chk1">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="35" height="35" viewBox="0 0 50 50">
                <path
                    d="M 5 8 A 2.0002 2.0002 0 1 0 5 12 L 45 12 A 2.0002 2.0002 0 1 0 45 8 L 5 8 z M 5 23 A 2.0002 2.0002 0 1 0 5 27 L 45 27 A 2.0002 2.0002 0 1 0 45 23 L 5 23 z M 5 38 A 2.0002 2.0002 0 1 0 5 42 L 45 42 A 2.0002 2.0002 0 1 0 45 38 L 5 38 z">
                </path>
            </svg> 
        </label>
    </div>
</header>