.cool-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.cool-link:hover {
    color: #47d5f1e2;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #47d5f1e2;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    /* transition: width .3s; */
}