<div class="navbar bg-base-100 fixed top-0 left-0 z-10 shadow-lg lg:px-20">
    <div class="navbar-start w-full md:w-auto">
        <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
                </svg>
            </label>
            <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                <li><a routerLink="/about-us">About USggg</a></li>
                <li >
                    <details close >
                        <summary>Product</summary>
                        <ul>
                            <li *ngFor="let item of AllProducts"><a routerLink="/{{item.URL}}">{{item.name}}</a></li>
                        </ul>
                    </details>
                </li>
                <li>
                    <details close >
                        <summary>Services</summary>
                        <ul>
                            <li *ngFor="let item of Allservices"><a routerLink="/{{item.URL}}">{{item.name}}</a></li>
                        </ul>
                    </details>
                </li>
                <!-- <li><a>Blogs</a></li> -->
            </ul>
        </div>
        <a class="cursor-pointer">
            <img routerLink="/home" src="https://www.clumpssoftware.com/assets/frontent_files/img/clumpssoftware.png" alt="" srcset="">
        </a>
    </div>
    <div class="hidden lg:w-[50%] lg:flex flex-row flex-nowrap justify-around items-start">
        <div class="w-max">
            <a [routerLink]="['/about-us']"><p class="cursor-pointer cool-link">About Us</p></a>
        </div>
        <div class="dropdown">
            <p tabindex="0" class="cursor-pointer cool-link">Product</p>
            <ul tabindex="0" class="w-[700px] menu menu-sm dropdown-content drop-shadow-xl rounded-md p-2 z-10 left-[-620px] top-[40px]  bg-[#fff]" >
                <!-- <div class="absolute h-[25px] w-[25px] rotate-45 bg-[#fff] top-[-12px] right-5 shadow-xl z-9"></div> -->
                <li *ngFor="let item of AllProducts" class="p-1 mb-1" >
                    <a class="hover:link-accent " routerLink="/{{item.URL}}">{{item.name}}</a>
                </li>
            </ul>
        </div>
        <div class="dropdown">
            <p tabindex="0" class="cursor-pointer cool-link">Service</p>
            <ul class="menu menu-sm dropdown-content shadow-xl rounded-md p-2 z-10 left-[-250px] bg-[#fff]">
                <li *ngFor="let item of Allservices" class="p-1 mb-1">
                    <a class="hover:link-accent" routerLink="/{{item.URL}}">{{item.name}}</a>
                </li>
            </ul>
        </div>
        <!-- <div class="w-max">
            <p class="cursor-pointer cool-link">Blog</p>
        </div> -->
        <!-- <ul class="menu menu-horizontal px-1">
            <li><a>About Us</a></li>
            <li >
                <details tabindex="0">
                    <summary tabindex="0">Product</summary>
                    <ul class=" p-2 z-10 left-[-200px]" >
                        <li *ngFor="let item of AllProducts" class=" text-ellipsis">
                            <a class="hover:link-accent" routerLink="/{{item.URL}}">{{item.name}}</a>
                        </li>
                    </ul>
                </details>
            </li>
            <li >
                <details>
                    <summary>Services</summary>
                    <ul class="p-2 z-10 left-[-250px] list-disc">
                        <li *ngFor="let item of Allservices">
                            <a class="hover:link-accent" routerLink="/{{item.URL}}">{{item.name}}</a>
                        </li>
                    </ul>
                </details>
            </li>
            <li><a>Blog</a></li>
            <li class="text-center"><a class="btn">Button</a></li>
        </ul> -->
    </div>
</div>
