<section class="w-full flex flex-col">
    <div class="w-full flex flex-row flex-wrap justify-between mt-[150px]">
        <div class="w-full md:w-[48%] flex justify-end">
            <img class="h-auto" src="{{hostUrl}}assets/frontent_files/img/b-automation/b-automation-1.png"
                alt="homepage" data-aos="zoom-in" data-aos-duration="1000" />
        </div>
        <div class="w-full md:w-[48%] flex flex-col justify-center items-start gap-5">
            <h2 class="text-[40px] md:text-[60px] text-black font-bold">
                Business Automation Services
            </h2>
            <h2 class="text-[20px] texxt-black font-bold">Fast and Error-Free Business Processes</h2>
            <p>
                In software development since 2017, Clumps Software Solutions offers full-scale business automation
                services to help companies streamline the fulfillment of repetitive tasks, reduce human error, and
                create full visibility into business processes .
            </p>
            <button type="button"
                class="py-[10px] px-[15px] border-[1px] border-[#191A23] rounded-[14px] bg-black text-[#fff] mt-5">Book
                a consultation </button>
        </div>
    </div>
</section>

<section class="w-full flex flex-col justify-center items-center my-[100px] py-[150px] bg-[#33B5CC] rounded-lg">
    <div class="w-[80%] ">
        <div class="relative flex justify-center items-center">
            <img class="absolute  top-[-50px] left-0"src="{{hostUrl}}assets/frontent_files/img/b-automation/icons/8018563-2.png" alt="">
            <p class="w-[80%] text-black">Business automation services (also known as 'business process automation services's) include business
                automation consulting as well as implementation and evolution of business automation solutions. These
                services are aimed at improving business processes and overall business productivity. Clumps Software
                Solutions offers consulting assistance and practical help with implementation and evolution of workflow
                automation solutions based on SharePoint, Office 365, Power Apps, and Power Automate, custom solutions
                for end-to-end process automation, and self-service portals across industries and business functions.
            </p>
            <img class="absolute  bottom-[-50px] right-0"
                src="{{hostUrl}}assets/frontent_files/img/b-automation/icons/8018563-1.png" alt="">
        </div>
    </div>
</section>