<app-header></app-header>
<section class="w-full flex flex-col">
    <div class="w-full flex flex-col md:flex-row justify-between mt-[150px] gap-y-5">
        <div class="w-full md:w-[38%] flex flex-col justify-center items-start gap-5">
            <h2 class=" text-[50px] md:text-[60px] text-black font-bold">
                Mobile Application Development Services
            </h2>
            <h2 class="text-[20px] text-black font-bold">
                A Blend of High-Standard Mobile Programming and Creativity
            </h2>
            <p>
                In mobile development since 2017, Clumps Software Solutions creates native, cross-platform and
                progressive web applications with stable performance, human-centered design and a unique selling
                proposition to stand out in a fierce market.
            </p>
            <button type="button"
                class="py-[10px] px-[15px] border-[1px] border-[#191A23] rounded-[14px] bg-black text-[#fff] mt-5">Schedule
                A Meeting</button>
        </div>
        <div class="w-full md:w-[58%] flex justify-end">
            <img src="{{hostUrl}}assets/frontent_files/img/services/app-development/app-development.png" />
        </div>
    </div>

</section>
<section class="w-full flex flex-col mt-[100px] mb-[100px]">
    <div class="w-full flex flex-col justify-center text-center items-center">
        <h2 class="text-center text-[50px] font-bold ">
            Our Mobile Application Development Services
        </h2>
        <p class="w-[80%]">
            Clumps Software Solutions assists in specific development stages as well as provides full-cycle mobile app
            implementation. Our mobile app development services include:
        </p>
    </div>
    <div class="w-full flex flex-col md:flex-row  flex-wrap justify-center mt-[150px] gap-5  ">
        <div *ngFor="let item of appDevService" class="w-full md:w-[28%] flex flex-col gap-5 border-2 p-4 rounded-[40px]">
            <h2 class="text-[20px] font-bold ">{{item.name}}</h2>
            <hr class="w-full border-[2px]">
            <div>
                <p>
                    {{item.desc}}
                </p>
            </div>
        </div>
    </div>
    <div class="w-full flex flex-col justify-center text-center items-center">
        <button type="button" class="py-[10px] px-[15px] border-[1px] border-[#191A23] rounded-[14px] text-[#000] mt-5">
            Get in touch
        </button>
    </div>
</section>

<section class="w-full flex flex-col mt-[100px] mb-[100px]">
    <div class="w-full flex flex-col justify-center text-center items-center">
        <h2 class="text-center text-[50px] font-bold ">
            Our Mobile Application Development Services
        </h2>
        <p class="w-[80%]">
            Clumps Software Solutions assists in specific development stages as well as provides full-cycle mobile app
            implementation. Our mobile app development services include:
        </p>
    </div>
    <div class="w-full flex flex-row  flex-wrap justify-center mt-[150px] gap-5  mb-5">
        <div *ngFor="let item of mobileDev" class="w-[45%] md:w-[28%] flex flex-col gap-5 border-2 p-4 rounded-[40px] justify-center items-center">
            <h2 class="text-[20px] font-bold h-[85px] sm:h-[75px] md:h-[50px]">{{item.name}}</h2>
            <hr class="w-full border-[2px]">
            <div class="w-full flex justify-center items-center">
                    
                    <img class="w-auto h-[70px] md:h-[100px]" src="{{hostUrl}}assets/frontent_files/img/services/app-development/icons/{{item.URL}}" />
            </div>
        </div>
    </div>
    <div class="w-full flex justify-center items-center text-center">
        <h2 class="w-[80%] text-[#33b5CC] text-[25px] font-bold mb-5">We provide mobile app services for all platforms, devices, and audiences, including: </h2>
    </div>
    <div class="w-full flex flex-row flex-wrap justify-center items-center gap-5">
       
        <div *ngFor="let item of starData" class=" md:w-[20%] lg:h-[200px] flex flex-col gap-5 border-2 p-4 rounded-[40px] justify-center items-center"> 
            
            <span>
                <img class="h-[50px]" src="{{hostUrl}}assets/frontent_files/img/services/app-development/icons/4066310-1.png" alt="" srcset="">
            </span>
            <p>
                {{item.desc}}
            </p>
        </div>
    </div>
    
    <div class="w-full flex justify-center items-center mt-5">
        <p class="w-full md:w-[80%]">
            Apps for all versions of iOS, watchOS, Android, and Wear OS Native & cross-platform apps (React Native, Xamarin, Flutter) Enterprise apps (for internal use) and monetized products Mobile app-only and mobile app + web app solutions (incl. PWAs*) *PWAs (Progressive Web Apps) are responsive apps that can be accessed on mobile via a shortcut. PWAs help increase engagement by 90%+, cut load time by 2.5x, and make desktop & mobile conversions even. Learn more about PWAs.
        </p>
    </div>
    <div class="w-full flex flex-col justify-center text-center items-center">
        <button type="button" class="py-[10px] px-[15px] border-[1px] border-[#191A23] rounded-[14px] text-[#000] mt-5">
            Get in touch
        </button>
    </div>
</section>

<section class="w-full flex flex-col mt-[100px] mb-[100px] gap-y-10">
    <div class="w-full flex flex-col justify-center text-center items-center">
        <h2 class="text-center text-[50px] font-bold ">
            Building All Mobile Features Modern Users Need
        </h2>
        <p class="w-full md:w-[80%]">
            Whether creating an enterprise or consumer mobile app, we rely on our expertise in different techs and tools to make an app truly helpful and worth taking your users’ screen space. Though we can repeat the features, no two apps are identical: we find a unique value proposition for each app and tailor the functionality uniquely to its audience’s needs.
        </p>
    </div>
    <div class="w-full flex justify-center items-center">
        <img src="{{hostUrl}}assets/frontent_files/img/services/app-development/app-develop-2.png" alt="" srcset="">
    </div>
</section>
<section class="flex flex-col mt-[100px] mb-5">
    <div class="flex flex-col gap-5 justify-center items-center text-center">
        <h2 class="w-full md:w-[80%] text-[30px] font-bold text-[#33B5CC]">
            Customized Software Solutions.
        </h2>
        <p class="w-full md:w-[80%]">
            Augment your existing development team to complete a big project or build a new software solution or
            application from scratch with the best custom software development company, Clumps Software Solutions.
        </p>
    </div>
    <div class="w-full flex flex-col md:flex-row justify-center items-center mt-[50px]">
        <div class="w-full md:w-[40%] flex flex-col">
            <img src="{{hostUrl}}assets/frontent_files/img/services/app-development/app-develop-3.png" />
        </div>
        <div class="w-full md:w-[58%] flex flex-col justify-start items-start gap-5 mb-2 md:p-5">
            <div class="flex flex-row gap-5">
                <div class="w-[20%] md:w-[15%]">
                    <img src="{{hostUrl}}assets/frontent_files/img/services/app-development/icons/160138-1.png"
                        alt="">
                </div>
                <div class="w-[78%] md:w-[80%] flex flex-col">
                    <h2 class="text-[#33B5CC] text-[20px]">
                        ANDROID App Development
                    </h2>
                    <p>
                        Reach more customers on popular Android mobile devices using Clumps’s end-to-end android mobile app development, integration, implementation, and support services.
                    </p>
                </div>
            </div>
            <div class="flex flex-row gap-5">
                <div class="w-[20%] md:w-[15%]">
                    <img src="{{hostUrl}}assets/frontent_files/img/services/app-development/icons/1240942-1.png"
                        alt="">
                </div>
                <div class="w-[78%] md:w-[80%] flex flex-col">
                    <h2 class="text-[#33B5CC] text-[20px]">
                        Ios App Development
                    </h2>

                    <p>
                        Reach more customers on popular Android mobile devices using Clumps’s end-to-end android mobile app development, integration, implementation, and support services.
                    </p>
                </div>
            </div>
            <div class="flex flex-row gap-5">
                <div class="w-[20%] md:w-[15%]">
                    <img src="{{hostUrl}}assets/frontent_files/img/services/app-development/icons/1077039-1.png"
                        alt="">
                </div>
                <div class="w-[78%] md:w-[80%] flex flex-col">
                    <h2 class="text-[#33B5CC] text-[20px]">
                        Windows App Development
                    </h2>
                    <p>
                        Reach more customers on popular Android mobile devices using Clumps’s end-to-end android mobile app development, integration, implementation, and support services.
                    </p>
                </div>
            </div>

        </div>
    </div>
    
    
    <div class="w-full flex justify-center items-center mt-5">
        <button type="button"
            class="px-5 py-2 border-4 border-[#33B5CC] rounded hover:bg-[#33B5CC] hover:text-white">Schedule A
            Meeting
        </button>
    </div>
</section>
<app-contact></app-contact>
