<app-header logo="Clumps Systemic Solutions"></app-header>
<section class="w-full flex flex-col my-10 items-center md:px-5 mb-5">
    <div class="w-full flex flex-col-reverse md:flex-row justify-between mt-[150px] gap-10">
        <div class="w-full md:w-[48%] flex flex-col justify-center items-start gap-5 md:mt-5">
            <h2 class="text-[45px] md:text-[60px] text-black font-bold">
                Optimize Retail Operations for Success
            </h2>
            <p class=" text-[#424040] md:text-[#6b6b84]">
                Clumps Retail Plus is a feature-rich retail management software designed to streamline and automate
                retail operations. From inventory management and point-of-sale (POS) systems to customer relationship
                management and analytics, our solution empowers retailers to deliver exceptional customer experiences,
                optimize inventory levels, and drive profitability. Take control of your retail business with Clumps
                Retail Plus.
            </p>

        </div>
        <div class="w-full md:flex md:w-[58%]  justify-center mb-5 md:mb-0">
            <div class="max-w-md w-full p-6 bg-white rounded-lg shadow-lg">
                <h2 class="text-[16px] text-[#F0483E] text-center font-semibold mb-4">Get Started With Your Free Trial
                </h2>
                <form>
                    <div class="mb-4">
                        <label for="email" class="block text-gray-700 font-medium mb-2">Email</label>
                        <input type="email" id="email" name="email"
                            class="w-full px-4 py-2 border rounded-lg focus:ring-blue-500 focus:border-blue-500">
                    </div>
                    <div class="flex mb-4">
                        <div class="w-1/2 mr-2">
                            <label for="username" class="block text-gray-700 font-medium mb-2">Username</label>
                            <input type="text" id="username" name="username"
                                class="w-full px-4 py-2 border rounded-lg focus:ring-blue-500 focus:border-blue-500">
                        </div>
                        <div class="w-1/2 ml-2">
                            <label for="contact" class="block text-gray-700 font-medium mb-2">Contact Number</label>
                            <input type="tel" id="contact" name="contact"
                                class="w-full px-4 py-2 border rounded-lg focus:ring-blue-500 focus:border-blue-500">
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="password" class="block text-gray-700 font-medium mb-2">Password</label>
                        <input type="password" id="password" name="password"
                            class="w-full px-4 py-2 border rounded-lg focus:ring-blue-500 focus:border-blue-500">
                    </div>
                    <div class="mb-4">
                        <label for="terms" class="flex items-center">
                            <input type="checkbox" id="terms" name="terms" class="mr-2">
                            <span class="text-gray-700">I agree to the <a href="#" class="text-blue-500">Terms of
                                    Service</a> and <a href="#" class="text-blue-500">Privacy Policy</a></span>
                        </label>
                    </div>
                    <button type="submit"
                        class="w-full py-2 px-4 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition duration-300">GET
                        STARTED</button>
                </form>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="w-full flex flex-col justify-between items-center mt-[100px]">
        <div class="w-full md:w-[80%] flex flex-col gap-4 justify-center items-center">
            <h2 class="text-[30px] md:text-[50px] font-bold">Why Clumps Systemic Solutions ?</h2>
            <p>Because we have all in one .</p>
        </div>
        <div class="w-full flex flex-col md:flex-row gap-5 bg-black p-10 rounded-[45px] mt-[50px]">
            <div class="flex flex-col w-full md:w-[33%] min-h-[100px] border-b-2 md:border-b-0 md:border-r-2 px-[10px] justify-between items-start"
                data-aos="flip-up">
                <p class="text-[#FFF] text-[20px] font-bold">
                    Production Planning
                </p>
                <p class="flex justify-start items-center text-[#fff]">
                    Learn More
                    <span class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="16" fill="#25B1C4"
                            class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                        </svg>
                    </span>
                </p>
            </div>
            <div class="flex flex-col w-full md:w-[33%] min-h-[100px] border-b-2 md:border-b-0 md:border-r-2 px-[10px] justify-between items-start"
                data-aos="flip-up">
                <p class="text-[#FFF] text-[20px] font-bold">
                    Machine Maintenance
                </p>
                <p class="flex justify-start items-center text-[#fff]">
                    Learn More
                    <span class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="16" fill="#25B1C4"
                            class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                        </svg>
                    </span>

                </p>
            </div>
            <div class="flex flex-col w-full md:w-[33%] min-h-[100px] px-[10px] justify-between items-start"
                data-aos="flip-up">
                <p class="text-[#FFF] text-[20px] font-bold">
                    Warehouse Management
                </p>
                <p class="flex justify-start items-center text-[#fff]">
                    Learn More
                    <span class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="16" fill="#25B1C4"
                            class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                        </svg>
                    </span>

                </p>
            </div>
        </div>
        <div class="w-full flex flex-col md:flex-row gap-5 bg-black p-10 rounded-[45px] mt-[50px]">
            <div class="flex flex-col w-full md:w-[33%] min-h-[100px] border-b-2 md:border-b-0 md:border-r-2 px-[10px] justify-between items-start"
                data-aos="flip-up">
                <p class="text-[#FFF] text-[20px] font-bold">
                    Instrumentation Module
                </p>
                <p class="flex justify-start items-center text-[#fff]">
                    Learn More
                    <span class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="16" fill="#25B1C4"
                            class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                        </svg>
                    </span>
                </p>
            </div>
            <div class="flex flex-col w-full md:w-[33%] min-h-[100px] border-b-2 md:border-b-0 md:border-r-2 px-[10px] justify-between items-start"
                data-aos="flip-up">
                <p class="text-[#FFF] text-[20px] font-bold">
                    QA & QC
                </p>
                <p class="flex justify-start items-center text-[#fff]">
                    Learn More
                    <span class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="16" fill="#25B1C4"
                            class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                        </svg>
                    </span>
                </p>
            </div>
            <div class="flex flex-col w-full md:w-[33%] min-h-[100px] px-[10px] justify-between items-start"
                data-aos="flip-up">
                <p class="text-[#FFF] text-[20px] font-bold">
                    Purchase Module
                </p>
                <p class="flex justify-start items-center text-[#fff]">
                    Learn More
                    <span class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="16" fill="#25B1C4"
                            class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                        </svg>
                    </span>

                </p>
            </div>
        </div>
        <div
            class="w-full md:w-[80%] flex flex-col md:flex-row  justify-center items-center gap-5 bg-black p-10 rounded-[45px] mt-[50px]">
            <div class="flex flex-col w-full md:w-[45%] min-h-[100px] border-b-2 md:border-b-0 md:border-r-2 px-[10px] justify-between items-start"
                data-aos="flip-up">
                <p class="text-[#FFF] text-[20px] font-bold">
                    Learning and Development
                </p>
                <p class="flex justify-start items-center text-[#fff]">
                    Learn More
                    <span class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="16" fill="#25B1C4"
                            class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                        </svg>
                    </span>
                </p>
            </div>
            <div class="flex flex-col w-full md:w-[45%] min-h-[100px] px-[10px] justify-between items-start"
                data-aos="flip-up">
                <p class="text-[#FFF] text-[20px] font-bold">
                    HR Module
                </p>
                <p class="flex justify-start items-center text-[#fff]">
                    Learn More
                    <span class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="16" fill="#25B1C4"
                            class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                        </svg>
                    </span>

                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="w-full flex flex-col justify-center text-center items-center mt-[100px]">
        <h2 class="text-center text-[30px] md:text-[50px] font-bold ">
            Explore the Clumps Systemic Solutions
        </h2>
        <p class="w-full md:w-[80%]">
            Clumps Systemic Solutions is full of features that help you manage inventory, create and track documents and
            streamline production.
        </p>
    </div>
    <div class="w-full flex flex-col flex-wrap justify-center items-center my-5">
        <div class="w-full md:w-[90%] flex flex-col md:flex-row justify-center items-center mt-[50px]">
            <div class="flex flex-col justify-center items-start gap-y-5">
                <h2 class="text-[30px] font-bold text-[#33B5CC]">Production Planning </h2>
                <p>
                    Plan and track the production process using Clumps Systemic Solutions to increase efficiency by
                    eliminating downtime and cutting down cost.
                </p>
                <div class="w-full flex flex-row flex-wrap gap-y-2">
                    <h2 *ngFor="let items of Production"
                        class="w-full md:w-[48%] flex flex-row text-start text-[20px] font-bold gap-4">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="green"
                                class="bi bi-check2-circle" viewBox="0 0 16 16" data-aos="zoom-in">
                                <path
                                    d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
                                <path
                                    d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
                            </svg>
                        </span> {{items.name}}
                    </h2>

                </div>
            </div>
            <img class="w-full md:w-[40%]" src="{{hostUrl}}assets/frontent_files/img/product/systemic/systemic-1.png" alt=""
                srcset="">
        </div>
        <div class="w-full md:w-[90%] flex flex-col-reverse md:flex-row justify-center items-center mt-[100px]">
            <img class="w-full md:w-[40%]" src="{{hostUrl}}assets/frontent_files/img/product/systemic/systemic-2.png" alt=""
                srcset="">
            <div class="flex flex-col justify-center items-start gap-y-5">
                <h2 class="text-[30px] font-bold text-[#33B5CC]">Sales & Purchase</h2>
                <p>
                    Manage sales and purchase orders, create invoices, and E-way bills from a single order management
                    system.
                </p>
                <div class="w-full flex flex-row flex-wrap gap-y-2">
                    <h2 *ngFor="let items of sales"
                        class="w-[48%] flex flex-row text-start text-[20px] font-bold gap-4">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="green"
                                class="bi bi-check2-circle" viewBox="0 0 16 16" data-aos="zoom-in">
                                <path
                                    d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
                                <path
                                    d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
                            </svg>
                        </span> {{items.name}}
                    </h2>

                </div>
            </div>

        </div>
        <div class="w-full md:w-[90%] flex flex-col md:flex-row justify-center items-center mt-[100px]">
            <div class="flex flex-col justify-center items-start gap-y-5">
                <h2 class="text-[30px] font-bold text-[#33B5CC]">Inventory Management</h2>
                <p>
                    Our Inventory Management Software is designed to streamline your processes and increase profits.
                </p>
                <div class="w-full flex flex-row flex-wrap gap-y-2">
                    <h2 *ngFor="let items of Inventory"
                        class="w-[48%] flex flex-row text-start text-[20px] font-bold gap-4">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="green"
                                class="bi bi-check2-circle" viewBox="0 0 16 16" data-aos="zoom-in">
                                <path
                                    d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
                                <path
                                    d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
                            </svg>
                        </span> {{items.name}}
                    </h2>

                </div>
            </div>
            <img class="w-full md:w-[48%]" src="{{hostUrl}}assets/frontent_files/img/product/systemic/systemic-3.png" alt=""
                srcset="">
        </div>
    </div>
</section>

<section>
    <app-contact-us></app-contact-us>
</section>
<section >
    <app-footer class="w-full absolute left-0"></app-footer>
</section>