.hadj{
    height: 230px;
}

.bd{
    border-color: #25b1c4;
    border: solid 2px #25b1c4;
    border-radius: 10px;
}
.fxdHeight{
    height: 170px;
}
@media only screen and (max-width:768px){
    .hadj{
        height: 265px;
    }
    .fxdHeight{
        height: auto;
    }
}