<app-navigation></app-navigation>
<!-- Start Main Banner Area -->
<!-- <div class="home-slides owl-carousel owl-theme">
    <div class="main-banner-item item-bg1">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="banner-item-content">

                        <h1>Clumps Software !</h1>
                        <p style="font-size:x-large">We add value to our clients business by utilizing our expertise and experience on Latest Technology Soltions. Our learning and Experience drives us to success!</p>
                        <div class="btn-box">
                        <a href="/about-us" class="default-btn"><i class="flaticon-right"></i>About Us<span></span></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-banner-item item-bg2">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="banner-item-content">

                        <h1 >Clumps Software - Transform Your Ideas into Digital Reality with Expert Web Development</h1>
                        <p>Unleash the Potential of Your Business Online with Our Web Development Expertise.Creating Web Solutions that Impress, Engage, and Convert Visitors into Customers.</p>
                        <div class="btn-box">
                            <a href="/about-us" class="default-btn"><i class="flaticon-right"></i>About Us<span></span></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div> -->
<!-- End Main Banner Area -->
<!-- Start Main Banner Area -->
<div class="banner-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="banner-content">
                    <h1 class="wow animate__animated animate__fadeInLeft" data-wow-delay="00ms" data-wow-duration="1000ms">Empowering Businesses with Innovative Solutions</h1>
                    <p class="wow animate__animated animate__fadeInLeft" data-wow-delay="100ms" data-wow-duration="1000ms">Transforming Industries Through Technology</p>
                    <div class="btn-box">
                        <a href="/contact-us" class="default-btn wow animate__animated animate__fadeInRight" data-wow-delay="200ms" data-wow-duration="1000ms"><i class="flaticon-right"></i>About Us<span></span></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 col-md-12">
                <div class="banner-animation-image">
                    <img src="../../assets/frontent_files/img/main-banner/banner-two/img1.png" class="wow animate__animated animate__fadeInDown" data-wow-delay="500ms" data-wow-duration="1000ms" alt="image" data-speed="0.06" data-revert="true">
                    <img src="../../assets/frontent_files/img/main-banner/banner-two/img2.png" class="wow animate__animated animate__fadeInUp" data-wow-delay="500ms" data-wow-duration="1000ms" alt="image" data-speed="0.06" data-revert="true">
                    <img src="../../assets/frontent_files/img/main-banner/banner-two/img3.png" class="wow animate__animated animate__fadeInRight" data-wow-delay="500ms" data-wow-duration="1000ms" alt="image" data-speed="0.06" data-revert="true">
                    <img src="../../assets/frontent_files/img/main-banner/banner-two/img4.png" class="wow animate__animated animate__fadeInUp" data-wow-delay="500ms" data-wow-duration="1000ms" alt="image" data-speed="0.06" data-revert="true">
                    <img src="../../assets/frontent_files/img/main-banner/banner-two/img5.png" class="wow animate__animated animate__fadeInUp" data-wow-delay="500ms" data-wow-duration="1000ms" alt="image" data-speed="0.06" data-revert="true">
                    <img src="../../assets/frontent_files/img/main-banner/banner-two/img6.png" class="wow animate__animated animate__fadeInLeft" data-wow-delay="500ms" data-wow-duration="1000ms" alt="image" data-speed="0.06" data-revert="true">
                    <img src="../../assets/frontent_files/img/main-banner/banner-two/img7.png" class="wow animate__animated animate__fadeInLeft" data-wow-delay="500ms" data-wow-duration="1000ms" alt="image" data-speed="0.06" data-revert="true">
                    <img src="../../assets/frontent_files/img/main-banner/banner-two/img8.png" class="wow animate__animated animate__fadeInDown" data-wow-delay="500ms" data-wow-duration="1000ms" alt="image" data-speed="0.06" data-revert="true">
                    <img src="../../assets/frontent_files/img/main-banner/banner-two/img9.png" class="wow animate__animated animate__fadeInDown" data-wow-delay="500ms" data-wow-duration="1000ms" alt="image" data-speed="0.06" data-revert="true">
                    <img src="../../assets/frontent_files/img/main-banner/banner-two/img10.png" class="wow animate__animated animate__fadeInRight" data-wow-delay="500ms" data-wow-duration="1000ms" alt="image" data-speed="0.06" data-revert="true">
                    <img src="../../assets/frontent_files/img/main-banner/banner-two/img11.png" class="wow animate__animated animate__fadeInLeft" data-wow-delay="500ms" data-wow-duration="1000ms" alt="image" data-speed="0.06" data-revert="true">
                    <img src="../../assets/frontent_files/img/main-banner/banner-two/img12.png" class="wow animate__animated animate__fadeInUp" data-wow-delay="00ms" data-wow-duration="1000ms" alt="image" data-speed="0.06" data-revert="true">
                    <img src="../../assets/frontent_files/img/main-banner/banner-two/main-pic.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Banner Area -->
<!-- Start Solutions Area -->
<section class="solutions-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title"><img src="../../assets/frontent_files/img/star-icon.png" alt="image"></span>
            <h2>We Provide End-To-End Development Solutions<span class="overlay"></span></h2>
            <p>We provide Secure and Explainable solutions using the latest Tech Stacks and Algorithms, following the Industry Standard Compliances and Ethics.</p>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-solutions-box wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="icon">
                        <i class="flaticon-rocket" style="color:#25b1c4"></i>
                    </div>
                    <h3><a href="/services">Research & Development</a></h3>
                    <p>We are in the point of continuous research and development in the domain of AI, which includes innovative products, research papers and coming up with new ways of imparting knowledge.</p>
                    <p style="margin-bottom: 0px">&nbsp;</p>
                    <a href="/services" class="view-details-btn">View Details</a>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-solutions-box wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                    <div class="icon">
                        <i class="flaticon-laptop" style="color:#25b1c4"></i>
                    </div>
                    <h3><a href="/services">Consulting Services</a></h3>
                    <p>We are into contemporary ways of providing multiple types of consulting services, that includes product consulting, man power consulting, cloud solutions etc., with AI and Agile oriented philosophy.</p>
                    <a href="/services" class="view-details-btn">View Details</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Solutions Area -->

<!-- Start About Area -->
<section class="about-area pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image-box wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <img src="../../assets/frontent_files/img/slide2.jpg" alt="image">

                    <div class="box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1000ms">

                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <div class="content">
                        <span class="sub-title"><img src="../../assets/frontent_files/img/star-icon.png" alt="image"> About Us</span>
                        <h2>Drive Digital Revolution Through Data Science</h2>
                         <ul class="features-list">
                            <li><span style="padding-bottom: 51px;">
                                <div class="icon">
                                    <img src="../../assets/frontent_files/img/icon1.png" alt="image">
                                </div>
                                <h3>Vision</h3>
                                <p> Transforming Digital Experiences through Innovative Web Development</p>
                            </span></li>

                            <li><span class="hadj">
                                <div class="icon">
                                    <img src="../../assets/frontent_files/img/icon1.png" alt="image">
                                </div>
                                <h3>Mission</h3>
                                <p>Empowering Businesses with Powerful Web Solutions</p>
                            </span></li>
                        </ul>
                        <a href="/about-us" class="default-btn"><i class="flaticon-right"></i>More About Us<span></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="circle-shape1"><img src="../../assets/frontent_files/img/shape/circle-shape1.png" alt="image"></div>
</section>
<!-- End About Area -->

<!-- Start Services Area -->
<section class="services-area pt-100 pb-70 bg-f1f8fb">
    <div class="container">
        <div class="section-title">
            <h2>Our Consulting Services<span class="overlay"></span></h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-item-box wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="icon">
                        <img src="../../assets/frontent_files/img/services/icon6.png" alt="image">
                    </div>
                    <h3><a href="/services">Web Application Solutions</a></h3>
                    <p>we believe in providing comprehensive support throughout the entire lifecycle of your web application. From initial planning and development to ongoing maintenance and updates, our dedicated team is committed to ensuring the seamless operation of your web application</p>
                    <a href="/services" class="read-more-btn">Read More <i class="flaticon-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-item-box wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="icon">
                        <img src="../../assets/frontent_files/img/services/icon6.png" alt="image">
                    </div>
                    <h3><a href="/services">AI product Solutions</a></h3>
                    <p>Do you have a problem statement! Not sure how to proceed?<br> well, we are there for you. We provide end-to-end AI Solutions right from data collection to model deployment. Our team of experienced researchers are there to guide you throughout the ML life cycle </p>
                    <a href="/services" class="read-more-btn">Read More <i class="flaticon-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-item-box wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="icon">
                        <img src="../../assets/frontent_files/img/services/icon3.png" alt="image">
                    </div>
                    <h3><a href="/services'">Cloud & Deployment Solutions</a></h3>
                    <p>Confused on which cloud solutions to use? <br> which specific resource of a cloud to be used, or do you want the complete cloud Architecture for your code. We are there to guide you with our cloud certified resources.</p>
                    <a href="/services'" class="read-more-btn">Read More <i class="flaticon-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="services-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Our Products & Solutions<span class="overlay"></span></h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-item-box wow fadeInUp bd" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="icon">
                        <img src="../../assets/frontent_files/img/Production Management.jpg" alt="image">
                    </div>
                    <h3><a href="/services">Production Management</a></h3>

                    <a href="/services" class="read-more-btn">Read More <i class="flaticon-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-item-box bd wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                    <div class="icon">
                        <img src="../../assets/frontent_files/img/Ware House Management.png" alt="image" class="fxdHeight">
                    </div>
                    <h3><a href="/services">Ware House Management</a></h3>

                    <a href="/services" class="read-more-btn">Read More <i class="flaticon-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-item-box bd wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="icon">
                        <img src="../../assets/frontent_files/img/HR management.jpg" alt="image" class="fxdHeight">
                    </div>
                    <h3><a href="/services">HR Managament</a></h3>

                    <a href="/services" class="read-more-btn">Read More <i class="flaticon-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-item-box bd wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="icon">
                        <img src="../../assets/frontent_files/img/Sales & Marketing Management.jpg" alt="image" class="fxdHeight">
                    </div>
                    <h3><a href="/services">Sales Management</a></h3>

                    <a href="/services" class="read-more-btn">Read More <i class="flaticon-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-item-box bd wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                    <div class="icon">
                        <img src="../../assets/frontent_files/img/Finance Management.jpg" alt="image" class="fxdHeight">
                    </div>
                    <h3><a href="/services">Purchase Management</a></h3>

                    <a href="/services" class="read-more-btn">Read More <i class="flaticon-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-item-box bd wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="icon">
                        <img src="../../assets/frontent_files/img/friendly-chatbot.jpg" alt="image" class="fxdHeight">
                    </div>
                    <h3><a href="/services">The Chatbot AI</a></h3>
                    <a href="/services" class="read-more-btn">Read More <i class="flaticon-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Area -->

<!-- Start Subscribe Area -->
<section class="subscribe-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="subscribe-image">
                    <img src="../../assets/frontent_files/img/subscribe-img1.png" data-speed="0.06" data-revert="true" alt="Blog Image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="subscribe-content">
                    <h2 class="wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">We Like to Start Your Project With Us</h2>
                    <p class="wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">If you like to start your ideas to be real please enter your email bellow and seat relax</p>
                    <form class="newsletter-form wow fadeInUp" data-toggle="validator" data-wow-delay="200ms" data-wow-duration="1500ms">
                        <input type="text" class="input-newsletter" placeholder="Enter your email address" name="EMAIL" required autocomplete="off">
                        <button type="submit" class="default-btn"><i class="flaticon-tick"></i>Contact Us Now<span></span></button>
                        <div id="validator-newsletter" class="form-result"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Subscribe Area -->
<app-footer></app-footer>
