<div class="w-full mt-5">
    <div class="w-full ">
        <div class="w-full flex flex-row">
            <div class="flex-2">hello</div>
            <div class="flex-1">hello</div>
        </div>
    </div>
    <div class="w-full">
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium, expedita eum. Autem, nobis ipsa rem et qui neque delectus nam accusamus praesentium hic sunt iusto impedit quibusdam, temporibus dolorum magnam?
        </p>
    </div>
</div>